.post {
  h2 {
    font-family: "Playfair Display", serif, -apple-system;
    font-size: 26px;
    
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .post-excerpt {
    line-height: 26px;
    color: #636E72;
    font-family: Helvetica, Arial, sans-serif, -apple-system;
    margin-bottom: 20px;
  }
}